---
---
<section id="experience">
    <div class="experience-container">
      <h2 class="section-title">Mi Experiencia como Desarrollador</h2>
  
      <div class="experience">
        <h3 class="role-title">Desarrollador Full Stack</h3>
        <p class="company-name">Empresa XYZ - 2023 - Actualidad</p>
        <ul class="responsibilities">
          <li>Desarrollo y mantenimiento de aplicaciones web utilizando Node.js, React y MongoDB.</li>
          <li>Implementación de soluciones de backend escalables para mejorar la eficiencia.</li>
          <li>Colaboración en equipos ágiles y trabajo con metodologías SCRUM.</li>
        </ul>
        <p class="technologies"><strong>Tecnologías:</strong> Node.js, React, MongoDB, Git, Docker</p>
      </div>
  
      <div class="experience">
        <h3 class="role-title">Desarrollador Backend</h3>
        <p class="company-name">Empresa ABC - 2022 - 2023</p>
        <ul class="responsibilities">
          <li>Desarrollo de API RESTful y microservicios utilizando Express.js y PostgreSQL.</li>
          <li>Optimización de bases de datos y consultas SQL para mejorar el rendimiento.</li>
          <li>Implementación de seguridad en las aplicaciones web (autenticación, autorización).</li>
        </ul>
        <p class="technologies"><strong>Tecnologías:</strong> Express.js, PostgreSQL, JWT, Docker</p>
      </div>
    </div>
</section>
  
<style>
    /* Estilos generales para la sección de experiencia */
#experience {
  padding: 3rem 2rem;
  background-color: #f4f4f4;
}

.experience-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #FF595A;
  margin-bottom: 2rem;
}

.experience {
  background-color: #f4f4f4;
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.role-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.company-name {
  font-size: 1.1rem;
  color: #666;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.responsibilities {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

.responsibilities li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.technologies {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .experience-container {
    padding: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .role-title {
    font-size: 1.5rem;
  }
}
    
</style>