---
---
<section id="experience">
    <div class="experience-container">
      <h2 class="section-title">Mi Experiencia como Desarrollador</h2>
  
      <div class="experience">
        <h3 class="role-title">Desarrollador Backend</h3>
        <p class="company-name">Prefectura de Manabí - 2024 </p>
        <ul class="responsibilities">
          <li>- Desarrollo de APIs con flask para sistemas interno de la empresa.</li>
          <li>- Análisis y dedsarrollo de base de datos en PostgreSQL. </li>
          <li>- Comunicación y trabajo en equipo continuo.</li>
        </ul>
        <p class="technologies"><strong>Tecnologías:</strong> Python, Flask, PostgreSQL, Git</p>
      </div>
  
      <div class="experience">
        <h3 class="role-title">Desarrollador Full Stack</h3>
        <p class="company-name">Sistemas Genesis - 2024</p>
        <ul class="responsibilities">
          <li>- Desarrollo de API para notificaciones webpush en tiempo real, recopilando la ubicación geográfica e información del navegador.</li>
          <li>- Desarrollo de frontend para administrador consumiendo la api del backend.</li>
          <li>- Mejoras continuas en backend que utiliza la api de open AI.</li>
        </ul>
        <p class="technologies"><strong>Tecnologías:</strong> Node.js, Express.js, React, MongoDB, Git</p>
      </div>

      <div class="experience">
        <h3 class="role-title">Desarrollador Backend</h3>
        <p class="company-name">Sistemas Genesis - 2024</p>
        <ul class="responsibilities">
          <li>- Desarrollo completo de API con openai para el analisis de información interna.</li>
          <li>- Documentación y comunicación activa en el proceso de desarrollo.</li>
          <li>- Investigación y mejoras continúas para la implementación de la IA en la empresa.</li>
        </ul>
        <p class="technologies"><strong>Tecnologías:</strong> Node.js, Nest.js, Git</p>
      </div>
    </div>
</section>
  
<style>
    /* Estilos generales para la sección de experiencia */
#experience {
  padding: 3rem 2rem;
  background-color: #f4f4f4;
}

.experience-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: #FF595A;
  margin-bottom: 2rem;
}

.experience {
  background-color: #f4f4f4;
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.role-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.company-name {
  font-size: 1.1rem;
  color: #666;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.responsibilities {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1rem;
}

.responsibilities li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.technologies {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  .experience-container {
    padding: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .role-title {
    font-size: 1.5rem;
  }
}
    
</style>